a, 
.fa-6x,
code,
#selectnav li.active > a, 
#selectnav li a:hover,
dl.accordion dt.active a {
	color: #9d1818;
	font-weight: bold;
}

blockquote, 
pre, 
.tab-container div, 
.tab.active,
#post-author,
dl.accordion dt.active  {
	border-left: 3px solid #e74c3c;
}

.isotope-alt-image div {
	background: rgba(248, 180, 0, 0.75); 
}

a:hover, 
.social a:hover {
	color: #c0392b;
}

.dark-wrapper,
#selectnav ul li {
	background: #f5f5f5;
}

.demoreel-dark-wrapper,
#selectnav ul li {
	background: #000000;
}

.animated {
	-webkit-animation-duration: 1000ms;
	animation-duration: 1000ms;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.inner-footer{
	background:#181818;
	padding:25px 4%;
}

.inner-footer h3 {
    color: #A5A2A2;
    font-size: 20px;
	text-transform:none;
    margin-bottom: 20px;
}

.inner-footer p{
	color:#666;
	font-size: 14px;
}

.footer-social{
	margin-top:30px;
}

.footer-social ul{
	margin:0px;
	padding:0px;
}

.footer-social ul li{
	display:inline-block;
	list-style:none;
}

.footer-social ul li a{
	height: 33px;
	width: 33px;
	line-height: 33px;
	margin: 0px 5px 5px 15px;
	font-size: 16px;
	background-color: #333;
	display:inline-block;
	text-align:center;
	color:#FFF;
	transition: all 0.5s ease 0s;
}

.footer-social ul li a:hover{
	background:#f8b42a;
}

.inner-footer .about, .inner-footer .post, .inner-footer .contact, .inner-footer .newsletter{
	margin-bottom:30px;
}
.inner-footer .post ul li{
	margin-bottom:10px;
	list-style:none;
	display:block;
	padding-bottom: 10px;
	position: relative;
	border-bottom: 1px solid rgba(0,0,0,.2);
	overflow: hidden;
}

.inner-footer .post ul li:after{
    width: 100%;
    content: "";
    border-bottom: 1px solid rgba(255,255,255,.05);
    position: absolute;
    bottom: 0;
    left: 0;
}

.inner-footer .post ul li a{
	font-size:15px;
	color:#C5C5C5;
	line-height: 25px;
	display:block;
}

.inner-footer .post ul li span{
	color:#838383;
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
}

.inner-footer .contact{
	background:url(./img/footer-map.png) no-repeat center center;
	min-height: 150px;
}

.inner-footer .contact ul{
	margin:0px;
	padding:0px;
}

.inner-footer .contact ul li {
    list-style: outside none none;
    display: block;
    overflow: hidden;
    color: #8F8F8F;
    margin-bottom: 20px;
	font-size: 14px;
    line-height: 24px;
	letter-spacing:0.5px;
	font-family: 'Open Sans', sans-serif;
}

.inner-footer .contact ul li span {
	margin-right: 18px;
	font-size: 16px;
	line-height: 29px;
	border-radius: 50%;
	transition: all 0.5s ease 0s;
	text-align: center;
	float: left;
	display: block;
}

.newsletter p {
	margin-bottom: 20px;
}

.newsletter form {
	position: relative;
}

.newsletter input.form-control {
    background:transparent;
	border-color:#474545;
	color:#ccc;
}

.newsletter form .btn {
    border: 2px solid #3C3C3C;
	background:#3C3C3C;
}

.newsletter form .btn:hover {
	border:2px solid #f8b42a;
	background:#f8b42a;
}

.sub-footer{
	background: #181818;
    padding: 25px 0px;
    position: relative;
    /*overflow: hidden;*/
    border-top: 1px solid rgba(0,0,0,.4);
	border-bottom:4px solid #f8b42a;
}

.sub-footer:before {
    width: 100%;
    content: "";
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    position: absolute;
    top: 0px;
    left: 0px;
}

.sub-footer p{
	color:#8F8F8F;
	font-size:13px;
}

.footer-menu ul{
	margin:0px;
	padding:0px;
	float:right;
}

.footer-menu ul li{
	display:inline-block;
	list-style:none;
	margin-left: 12px;
}

.footer-menu ul li a{
	font-size:13px;
	line-height:25px;
	color:#8F8F8F;
	display:inline-block;
}

.footer-menu ul li a:hover{
	color:#f8b42a;
}

.sub-footer > .container > .wrapper{
	width: 100%;
}

.sub-footer > .container > .wrapper > .one_half{
	margin-right: 2% !important;
	margin-bottom: 0 !important;
}

.sub-footer > .container > .wrapper > .copyright{
    float: left;
    bottom: -15px;
    left: 4%;
    position: absolute;
}

.sub-footer > .container > .wrapper > .copyright > p{
    margin: 0 !important;
}

.sub-footer > .container > .wrapper > .footer-menu{
    float: left;
    bottom: -15px;
    right: 2%;
    position: absolute;
}

.sub-footer > .container > .wrapper > .footer-menu > p{
    margin: 0 !important;
}

@media (max-width: 550px){
	.sub-footer{
		padding: 20px 0;
	}
	.sub-footer > .container > .wrapper > .copyright {
	    float: none;
	    bottom: -15px;
	    left: 0;
	    text-align: -webkit-center;
	    position: absolute;
	}
	.sub-footer > .container > .wrapper > .footer-menu{
	    display: none;
	}
}

.parallax{
	background-image: url(./img/parallax.jpg);
}

.iblock{
	display: -webkit-inline-box;
}

.iserv{
    color: #ffffff;
    font-size: 55px;
    background: #f6be4b;
    border-radius: 100px;
    display: grid;
    border: 20px solid #f6be4b;
    position: relative;
}

@media(min-width: 960px) and (max-width: 1179px){
	.iserv{
	    font-size: 35px;
	}
}
@media(min-width: 768px) and (max-width: 959px){
	.iserv{
	    font-size: 25px;
	    border: 15px solid #f6be4b;
	}
}
@media(max-width: 767px){
	.iserv{
	    color: #ffffff;
	    font-size: 35px;
	    background: #f6be4b;
	    border-radius: 100px;
	    display: grid;
	    border: 15px solid #f6be4b;
	    position: relative;
	    width: 25% !important;
	}
}

.text-left{
	text-align: left;
}
#sec-servicios{
	background-color: #e3e3e3;
}
#aq-block-1,#aq-block-2,#aq-block-3,#aq-block-4,#aq-block-5,#aq-block-6,#aq-block-7,#aq-block-8,#aq-block-9{
	position: relative;
	margin:25px 0;
}

#aq-block-1:before{
	position: absolute;
    font-family: 'orinocofonts';
    content: "\61";
    font-size: 150px;
    opacity: 0.25;
    color: #ffffff;
    top: 50px;
    left: 90px;
    -ms-transform: rotate(-7deg);
    -webkit-transform: rotate(-7deg);
    transform: rotate(-7deg);
    z-index: -1;
}
#aq-block-2:before{
	position: absolute;
    font-family: 'orinocofonts';
    content: "\62";
    font-size: 150px;
    opacity: 0.25;
    color: #ffffff;
    top: 50px;
    left: 90px;
    -ms-transform: rotate(-7deg);
    -webkit-transform: rotate(-7deg);
    transform: rotate(-7deg);
    z-index: -1;
}
#aq-block-3:before{
	position: absolute;
    font-family: 'orinocofonts';
    content: "\63";
    font-size: 150px;
    opacity: 0.25;
    color: #ffffff;
    top: 50px;
    left: 90px;
    -ms-transform: rotate(-7deg);
    -webkit-transform: rotate(-7deg);
    transform: rotate(-7deg);
    z-index: -1;
}
#aq-block-4:before{
	position: absolute;
    font-family: 'orinocofonts';
    content: "\64";
    font-size: 150px;
    opacity: 0.25;
    color: #ffffff;
    top: 50px;
    left: 90px;
    -ms-transform: rotate(-7deg);
    -webkit-transform: rotate(-7deg);
    transform: rotate(-7deg);
    z-index: -1;
}
#aq-block-5:before{
	position: absolute;
    font-family: 'orinocofonts';
    content: "\65";
    font-size: 150px;
    opacity: 0.25;
    color: #ffffff;
    top: 50px;
    left: 90px;
    -ms-transform: rotate(-7deg);
    -webkit-transform: rotate(-7deg);
    transform: rotate(-7deg);
    z-index: -1;
}
#aq-block-6:before{
	position: absolute;
    font-family: 'orinocofonts';
    content: "\66";
    font-size: 150px;
    opacity: 0.25;
    color: #ffffff;
    top: 50px;
    left: 90px;
    -ms-transform: rotate(-7deg);
    -webkit-transform: rotate(-7deg);
    transform: rotate(-7deg);
    z-index: -1;
}
#aq-block-7:before{
	position: absolute;
    font-family: 'orinocofonts';
    content: "\67";
    font-size: 150px;
    opacity: 0.25;
    color: #ffffff;
    top: 50px;
    left: 90px;
    -ms-transform: rotate(-7deg);
    -webkit-transform: rotate(-7deg);
    transform: rotate(-7deg);
    z-index: -1;
}
#aq-block-8:before{
	position: absolute;
    font-family: 'orinocofonts';
    content: "\68";
    font-size: 150px;
    opacity: 0.25;
    color: #ffffff;
    top: 50px;
    left: 90px;
    -ms-transform: rotate(-7deg);
    -webkit-transform: rotate(-7deg);
    transform: rotate(-7deg);
    z-index: -1;
}
#aq-block-9:before{
	position: absolute;
    font-family: 'orinocofonts';
    content: "\6a";
    font-size: 200px;
    opacity: 0.25;
    color: #ffffff;
    top: 50px;
    left: 90px;
    -ms-transform: rotate(-7deg);
    -webkit-transform: rotate(-7deg);
    transform: rotate(-7deg);
    z-index: -1;
}

.wrapper{
	z-index: 0;
}

#sec-serepecial{
    background-image: url(./img/ven-20-1310x650-3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 5px solid #f6be4b;
}

.sec-a{
	left: 100%; top: 0px; display: block; transition: all 300ms ease;
}

.sec-b{
	left: -100%; top: 0px; display: block; transition: all 300ms ease;
}

.hideall{
    display: none;
}

#filters{
    display: none !important;
}

.justify{
    text-align: justify;
}

#trailer > strong{
    content: "";
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 25%;
    border-bottom: 3px solid #f8b42a;
    border-top: 3px solid #f8b42a;
    padding: 3px 0;
    color: #000000;
}