@charset "UTF-8";

@font-face {
  font-family: "orinocofonts";
  src:url("../fonts/orinocofonts.eot");
  src:url("../fonts/orinocofonts.eot?#iefix") format("embedded-opentype"),
    url("../fonts/orinocofonts.woff") format("woff"),
    url("../fonts/orinocofonts.ttf") format("truetype"),
    url("../fonts/orinocofonts.svg#orinocofonts") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "orinocofonts" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="ori-"]:before,
[class*=" ori-"]:before {
  font-family: "orinocofonts" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ori-1-diseno-de-produccion:before {
  content: "\61";
}
.ori-2-contratacion-de-personal:before {
  content: "\62";
}
.ori-3-asesoria-juridica:before {
  content: "\63";
}
.ori-4-scouting-de-locaciones:before {
  content: "\64";
}
.ori-6-desarrollo-de-proyectos:before {
  content: "\66";
}
.ori-7-grabacion-de-voces:before {
  content: "\67";
}
.ori-8-servicios-de-pre-produccion:before {
  content: "\68";
}
.ori-9-servicios-de-comunicacion:before {
  content: "\69";
}
.ori-5-apoyo-logistico:before {
  content: "\65";
}
.ori-9-servicios-de-comunicacion-1:before {
  content: "\6a";
}
