a, 
.fa-6x,
code,
#selectnav li.active > a, 
#selectnav li a:hover,
dl.accordion dt.active a {
	color: #e74c3c;
}

blockquote, 
pre, 
.tab-container div, 
.tab.active,
#post-author,
dl.accordion dt.active  {
	border-left: 3px solid #e74c3c;
}

.isotope-alt-image div {
	background: rgba(231,76,60,0.85); 
}

a:hover, 
.social a:hover {
	color: #c0392b;
}

.dark-wrapper,
#selectnav ul li {
	background: #f5f5f5;
}

.animated {
	-webkit-animation-duration: 1000ms;
	animation-duration: 1000ms;
}